/* general styles */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  overflow: hidden;
}

.container {
  background-color: #f0f0f0;
  box-shadow: 0 10px 4px rgba(35, 35, 35, 0.25);
  border-radius: 50px;

  margin: 15px;
  padding: 15px;
  text-align: center;
}

h1,
p,
button {
  text-align: center;
  font-family: 'Quicksand', sans-serif !important;
}

h1 {
  margin: 0px;
}

hr {
  margin: 0px;
  height: 2px;
  background-color: #000;
}

button {
  border: 0;
  margin-top: 20px;
}

.btn-red {
  background-color: #ff6d88;
  box-shadow: 0 7px 1px rgba(184, 0, 0, 0.25);
}

.btn-green {
  background-color: #7dda86;
  box-shadow: 0 7px 1px rgba(127, 155, 117, 0.25);
}

.playfield {
  background-color: #fff;
  padding: 16px;
  margin: 15px 0;
}

.playfield > span {
  display: inline-block;
}

.hit {
  color: white;
  background-color: #00860d;
}

.miss {
  color: white;
  background-color: #860000;
}

.hits {
  color: #00860d;
}

.misses {
  color: #860000;
}

.__hidden {
  display: none;
}

/* mobile 320px-767px */
@media (min-width: 320px) {
  .container {
    width: calc(100% - 60px);
    height: calc(100vh - 70px);
  }
  p {
    font-size: 18px;
  }
  h1 {
    font-size: 40px;
    margin: 0px;
  }

  .btn-red {
    border-radius: 32px;
    padding: 16px 32px;
    font-size: 24px;
  }

  .btn-green {
    border-radius: 48px;
    padding: 24px 48px;
    font-size: 24px;
  }
  h2 {
    font-size: 30px;
    margin-top: 0.4em;
  }

  .playfield {
    border-radius: 50px;
    font-size: 18px;
  }

  .playfield > span {
    border-radius: 5px;
    padding: 2px 5px;
    margin: 1px 0px;
  }
}

@media (min-width: 768px) {
  .container {
    width: calc(100% - 60px);
    height: calc(100vh - 70px);
  }
  p {
    font-size: 40px;
  }
  h1 {
    font-size: 72px;
  }

  .btn-red {
    border-radius: 70px;
    padding: 35px 70px;
    font-size: 48px;
  }

  .btn-green {
    border-radius: 70px;
    padding: 35px 35px;
    font-size: 48px;
  }
  h2 {
    font-size: 56px;
    margin-top: 0.4em;
  }

  .playfield {
    border-radius: 50px;
    font-size: 30px;
  }

  .playfield > span {
    border-radius: 10px;
    padding: 5px 10px;
    margin: 2px 0px;
  }
}

@media all and (min-width: 500px) {
  .flex-game {
    display: flex;
    flex-wrap: nowrap;
  }

  .flex-game > * {
    flex: 1 1 50%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0px auto;
  }
}

.state {
  display: none;
}

.state.active {
  display: block;
}
